<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mining.crypto.mapper.MiningRigMapper">

    <insert id="addMiningRig">
        insert into mining_rig(id, name, model, status, price, commissioning_date, create_date, modifier, modify_date, del)
        values(#{id},#{name},#{model},#{status},#{price},#{commissioningDate},#{createDate},#{modifier},#{modifyDate},#{del})
    </insert>
</mapper>