<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mining.crypto.mapper.UserDashboardMapper">

    <sql id="selectUserDashboard">
        SELECT u.*
        FROM user_dashboard u
    </sql>

    <select id="selectByUserNameToday" resultType="UserDashboard">
        <include refid="selectUserDashboard"/>
        WHERE u.user_name = #{name}
        AND u.del = 0
        AND DATE(modify_date) = CURDATE()
    </select>

    <select id="selectByUserName" resultType="UserDashboard">
        <include refid="selectUserDashboard"/>
        WHERE u.user_name = #{name}
        AND u.del = 0
        ORDER BY modify_date DESC
    </select>

    <insert id="insertTodayByYesterday">
        INSERT INTO user_dashboard
        (id,
         user_name,
         total_profit,
         today_profit,
         annualized_return,
         wallet_balance,
         create_date,
         modifier,
         modify_date,
         del)
        SELECT
            REPLACE(UUID(), '-', '')          AS id,
            user_name,
            total_profit + today_profit       AS total_profit,
            today_profit,
            annualized_return,
            wallet_balance + today_profit     AS wallet_balance,
            NOW()                             AS create_date,
            modifier,
            NOW()                             AS modify_date,
            0                                 AS del
        FROM user_dashboard
        WHERE del = 0
          AND DATE(modify_date) = CURDATE() - INTERVAL 1 DAY
    </insert>
</mapper>