<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mining.crypto.mapper.UserMapper">
    <resultMap id="userRoleMap" type="com.mining.crypto.vo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="legal_name" property="legalName"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="reg_time" property="regTime"/>
        <result column="status" property="status"/>
        <result column="uid" property="uid"/>
        <result column="create_date" property="createDate"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="del" property="del"/>
        <collection property="roles" ofType="com.mining.crypto.vo.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="description" property="description"/>
            <result column="role_create_date" property="createDate"/>
            <result column="role_modifier" property="modifier"/>
            <result column="role_modify_date" property="modifyDate"/>
            <result column="role_del" property="del"/>
        </collection>
    </resultMap>

    <sql id="selectUsersWithRole">
        SELECT u.*,
               r.id          AS role_id,
               r.name        AS role_name,
               r.description,
               r.create_date as role_create_date,
               r.modifier    as role_modifier,
               r.modify_date as role_modify_date,
               r.del         as role_del
        FROM user u
                 LEFT JOIN user_role ur ON u.id = ur.user_id
                 LEFT JOIN role r ON r.id = ur.role_id
    </sql>

    <select id="selectUserByName" resultMap="userRoleMap">
        <include refid="selectUsersWithRole"/>
        WHERE u.name = #{name} and u.del = 0
    </select>

    <select id="selectAllUsers" resultMap="userRoleMap">
        <include refid="selectUsersWithRole"/>
        WHERE u.del = 0
    </select>

    <select id="selectAllUsersPage" resultMap="userRoleMap">
        <include refid="selectUsersWithRole"/>
        <where>
            u.del = 0
            <if test="name != null and name != ''">
                AND u.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND u.status = #{status}
            </if>
        </where>
        ORDER BY u.create_date DESC
    </select>

    <insert id="insert" keyProperty="id">
        INSERT INTO user
        VALUES (#{id}, #{name}, #{legalName}, #{password}, #{avatar}, #{gender}, #{phone}, #{email}, #{regTime},
                #{status}, #{uid}, #{createDate}, #{modifier}, #{modifyDate}, #{del})
    </insert>

    <select id="countUsersNotAdmin" resultType="int">
        SELECT COUNT(DISTINCT u.id)
        FROM user u
                 JOIN user_role ur ON u.id = ur.user_id
                 JOIN role r      ON ur.role_id = r.id
        WHERE u.del = 0
          AND ur.del = 0
          AND r.del = 0
          AND r.name != 'ADMIN'
    </select>

</mapper>